/*
 * react-calendar-heatmap styles
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

* {
  font-family: sans-serif;
}

.color-beammp-0 {
  fill: #eeeeee;
}

.color-beammp-1 {
  fill: #f3cd94;
}

.color-beammp-2 {
  fill: #eba63f;
}

.color-beammp-3 {
  fill: #f1a009;
}

.color-beammp-4 {
  fill: #f73e2f;
}
